* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: rgba(0, 0, 0, 0.958);
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#008cff;
  }
body {
    font-family:"Poppins",sans-serif;
    background: var(--bg-color);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #b5d3f1;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    background: var(--second-bg-color);
    border-radius: 2%;
    overflow: hidden;
    max-width:90vw;
    width: 47vw;
    margin-top: 16%;
    margin-bottom: 6%;
    color:transparent;
    gap:21vw;
    line-height: 1.6;
}
.right-panel {
    padding: 3vw;
    width: 100%;
    border-style: ridge;
    border-color: var(--main-color);
    border-width: 1.2vw;
}
span{
    color:var(--main-color);
  }
h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-style: sans-serif;
    font-weight: 800;
    font-size:2.1rem;
}
i{
    font-size: 29px;
    margin-left:7px;
}
p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #e9e9e9;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
input,#location,textarea{
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    margin-top:2rem auto;
    color: #ededed;
}

input, select, textarea, button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    width: 100%;
}

input[type="file"] {
    padding: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-group div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

button {
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition:0.3s ease;
}

button:hover {
    background: #0ac4a8;
}

@media (max-width: 680px) {
   .left-panel{
    display: none;
   }
   .right-panel{
    width: 100vw;
    overflow: auto;
   }
   .container{
    overflow: auto;
    width: 100vw;
   }
}
