* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background: linear-gradient(270deg, rgb(109, 160, 255), rgb(136, 118, 255), rgb(118, 255, 155));
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #f5f6f7;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    background: white;
    border-radius: 2%;
    overflow: hidden;
    max-width: 60vw;
    width: 47vw;
    margin-top: 6%;
    margin-bottom: 6%;
}

.left-panel {
    background: linear-gradient(270deg,#72ff4b,#c1ffbb);
    color: rgb(26, 24, 24);
    padding: 2em;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-panel h2 {
    font-size: 2vw;
}

.right-panel {
    padding: 3vw;
    width: 100%;
    border-style: ridge;
    border-color: #202020;
    border-width: 1.2vw;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-style: sans-serif;
}

p {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    margin-top: 10px;
    color: #333;
}

input, select, textarea, button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

input[type="file"] {
    padding: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-group div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

button {
    background: #0db9f0;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s ease;
}

button:hover {
    background: #0a9cc4;
}


@media 
screen and (max-width: 480px) {
 
  .left-panel{
    display:none;
  }
 .container{
    max-width:100vw;
 }
 .right-panel{
    max-width: 100vw;
 }
}
