/* Reset styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: monospace, sans-serif;
  color: rgb(233, 233, 233);
  background-color: rgb(42, 42, 42);
  overflow: scroll;
}

header {
  background-color: rgb(190, 42, 42);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toplist {
  display: flex;
  gap: 2.2em;
  list-style: none;
  padding-right: 3em;
}

#toplist li:hover {
  background: rgb(63, 51, 196);
  padding: 10px;
}

#navbar a {
  color: blanchedalmond;
}

#welcome-section {
  height: 90vh;
  padding-top: 25vh;
}

h1 {
  border-right: 0.15em solid orange; 
  padding: 7.3vh 1em 0 1em;
  animation: typing 2.5s steps(22, end), blink-caret 0.75s step-end infinite;
}

div[id="welcome"] > p {
  animation: typing1 6s linear, blink-caret 0.75s step-end infinite reverse;
  padding-left: 20em;
  color: red;
}

#Work {
  background: rgb(84, 88, 137);
}

#card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#projects a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 50px;
  transition: 0.3s;
}

#projects img {
  width: 100%;
  border-radius: 40px;
}

#social {
  display: flex;
  justify-content: space-evenly;
  padding: 7vh 8em 13vh 8em;
}

@media (max-width: 900px) {
  #toplist {
    flex-direction: column;
  }

  #projects a {
    width: 100%;
    max-width: none;
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}
