header{
  /*Something in the way*/
    /*Something in the way*/
      /*Something in the way*/
        /*Something in the way*/
/*Something in the way*/
          /*Something in the way*/
position:relative;
margin:0;
}
* {
margin: 0;
padding: 0;
text-decoration:none;
scroll-behavior:smooth;

}


  main section#work-experience {
    padding: 20px;
    background: linear-gradient(135deg, #f4f4f4, #d7dde8);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  main section#work-experience h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #444;
    text-align: center;
    text-transform: uppercase;
  }

  main section#work-experience .job {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  main section#work-experience .job:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  main section#work-experience .job h3 {
    font-size: 22px;
    margin: 10px 0;
    color: #333;
  }
  
  main section#work-experience .job p,
  main section#work-experience .job ul {
    margin: 10px 0;
    color: #555;
  }
  
  main section#work-experience .job ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  main section#work-experience .job ul li {
    margin-bottom: 5px;
  }
  
  .animate, .animated-img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
 
  .animate.visible, .animated-img.visible {
    opacity: 1;
    transform: translateY(0);
  }

  
  .animated-img {
    width: 12vw;
    height: auto;
    margin: 10px;
    border-radius: 0.5vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  }
 
  main section#work-experience .animated-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 217, 255, 0.2);
  }

  main section#work-experience .job-images {
    display: grid;
    width: 35%;
    grid-template-columns: 50% 50%;
    gap:0.2vw;
  }
  
  main section#work-experience .job-images2 {
    display: grid;
    width: 35%;
    grid-template-columns: 50% 50%; 

  }
  main section#Worked{
    background-color: #555;
  }


li[class="nav-list"]{
margin-top:10px;
}
#top-id{

  padding:0.7vw;
  font-size:27px;
  font-family:monospace,sans-serif;

color:rgb(1, 1, 1);
background-color: rgba(253, 253, 253, 0.491);
}
html {
box-sizing: inherit;
}
body{
height:100vh;
margin:0;
overflow:scroll;
}
a{
color:rgb(245, 245, 245);
height:8vh;
width:100vw;
}
header{
background-color:rgba(0, 0, 0, 0.79);
width:98.8vw;
color:rgb(0, 0, 0);;
z-index:1;

}

#navbar{
display:flex;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-between;
}
ul[id="toplist"]{
font-size:22px;
gap:2.2em;
padding-right:3em;
 display:flex;
flex-wrap:row;
justify-content:space-between;
list-style:none;
font-family:Monospace,Monospace;
}

ul[id="toplist"]>li:hover{

background:rgba(253, 253, 253, 0.491);
padding:10px;
margin:0;
}
#welcome-section{
background:rgb(245, 245, 245);
height:90vh;

}
#welcome{
padding-top:25vh;

}

h1,h1:active{
padding-top:7.3vh;
padding-left:1em;
max-width:10em;
overflow: hidden;
border-right: .15em solid orange; 
white-space: nowrap; 
margin: 0 auto; 
letter-spacing: 0.04em; 

animation: 
  typing 2.5s steps(22,end),
  blink-caret .75s step-end infinite;
  color:rgb(0, 0, 0);
  font-size:11vh;
}



div[id="welcome"]>p{
color:rgb(127, 127, 127);

white-space: nowrap; 
margin: 0 auto; 
font-family:Monospace;
letter-spacing:0.04em;
padding-left:20em;
max-width:20em;
font-size:2vw;
overflow:hidden;

animation: 
  typing1 6s linear,
  blink-caret .75s step-end infinite reverse;

}
#Work{


height:170vh;
}
p[id="next"]{
margin-top:20vw;
margin-bottom: -19vw;
text-align: center;
font-size:10vw;
font-family:'times';
}
h2{
color:rgb(233,233,233);

margin:0 auto;
max-width:18em;
font-size:5.4vh;;
padding:11vh;
position:center;
font-family:Verdana;
}



#card {
object-fit:inherit;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 10vh;
max-width:100%;
margin: 0 auto;
border-radius: 10px;

}

#cloud-button-container {
  text-align: center;
  margin-top: 20px;
  color:black;
}

#cloud-button {
  background-color: #67d4ff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 1vw 1.5vw;
  font-size: 3vw;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease;
}


#cloud-button:after {
  width: 40px;
  height: 40px;
  top: -30px;
  left: -10px;
}

#cloud-button:hover {
  background-color: #00BFFF;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#projects label{
font-size:25px;
text-align:center;
color:rgb(233,233,233);
font-family:Helvetica;
padding-top:1px;
}
#Worked{
padding:7vh;
background-color:rgb(84, 88, 137);
}
#button{

padding-top:20vh;
text-align:center;

}
button{
margin:0 auto;
padding:2.8vh;
background:rgb(25, 31, 56);
border-color:transparent;
color:white;
font-size:4vh;
}
#header{
min-height: 8vh;
font-size-adjust:50px;
}
#projects a{
border-radius:50px;
box-shadow: 0 4px 12px 20px rgba(0,0,0,0.3);

   transition: 0.3s;
display: flex;
flex-direction: column-reverse;
justify-content:center;
height:47vh;
max-height:50vh;
width:100%;
max-width:320px;
background-color:rgb(25, 31, 56);
object-fit:cover;
gap:7px;
}
#projects img{
width: 100%;
align-items:center;
border-radius: 40px;
max-width: 35em;
height: 45vh;
max-height:45vh;
object-fit:cover;
}
#projects a:hover {
box-shadow: 0px 1px 12px 7px rgba(0,0,0,0.4);
 height:46vh;
 width:36em;
}

map{
display:inline;
}
#img::after {
content: "";
width: 50%;

}

footer #about{
display:block;
background:rgb(126, 132, 152);
width:100%;
height:80vh;
color:rgb(233,233,233);
}
h4{
font-family:Monospace;
font-size:60px;
text-align:center;
padding-top:27vh;
padding-bottom:6vh;
letter-spacing:0.01em;
background:rgb(146, 49, 60);

}
section#About p{
font-size:30px;
text-align:center;
padding:2.5vh;
background:rgb(146, 149, 160);
color:rgb(199, 199, 199);
}
#social{

padding-bottom:13vh;
padding-left:8em;
padding-top: 7vh;
}
#social a{
font-size:26px;
font-family:Monospace;
transition:0.5s;
position:calc(font-size,transition);
color:rgb(255, 255, 255);
}
#social a:hover{
font-size:32px;
transition:0.3s;
color:orangered;
gap:1em;

}
footer h6{
background:rgb(46, 49, 60);
font-size:25px;

text-align:center;
font-family:Arial;
padding:50px;
}
#About #social{
display:flex;
flex-direction:row;
justify-content:space-evenly;
}
div[id="button"]{
width:100%;
align-items:center;

text-align:center;
left:0;
background-color:#555;
}
#bra{ 
height:1vh;
width:100%;
max-height:1vh;
background-color:rgb(176, 55, 55);
}
div[id="social"]{
 background:rgb(46, 49, 60);
 color:rgb(255, 255, 255);
 opacity: 2;
}

/*Media queries*/
@media 
screen and (max-width: 410px) {
*{
  max-width: 100vw;
  margin:0;
}
main section#work-experience .job-images {
  display: flex;
  gap: 0.2vw;
  margin-top: 0.5vw;
  flex-direction:column;
  height: auto;
  width: auto;
}
main section#work-experience .job-images2 {
  display: flex;
  gap: 0.2vw;
  margin-top: 0.5vw;
  flex-direction:column;
  height: auto;
  width: auto;
}


#top-id{
  padding:10px;
  font-size:27px;
  display: block;
  text-align: center;
  font-family:monospace,sans-serif;
  color:blanchedalmond;
  background-color: rgb(15, 109, 109);
}
header{
  min-width: 100vw;
}
#navbar{
  width:100vw;
  display:inline;
  min-width: 100vw;
}
ul[id="toplist"]{
  display: inline;
  min-width: 100vw;
}
#welcome-section{
  min-width:40vw;
  min-height: 150vh;
  overflow-wrap:break-word;
  font-size:auto;
}  

button[id="batton"],button[id="batton"]>a{
  margin-top:10vh;
}
#Work{
  min-width:68vw;
}
#Worked{
  min-width:68vw;
}
footer{
  min-width: 100vw;
}
label{
  font-size:25px;
}
h1{
  white-space:break-spaces;
}
div[id="social"]{
  display:flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  color:rgb(250, 173, 186);
}
#work-experience {
  padding: 10px;
  background-color: #8f7575ce;
  margin: 10px 0;
}
h2{
  
  font-size: 8vw;
  margin-bottom: 0.2vw;
  color: #ffffff;
  text-align: center;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  font-size: 18px;
  margin: 5px 0;
}

.job p, .job ul {
  font-size: 14px;
}

.skills-image {
  display: none;
}
}

@media 
screen and (max-width: 550px) {
ul[id="toplist"]{ 
  text-align: center;
  padding-left: 10%;
  flex-direction:column;
}
label{
  font-size:25px;
}
header{
  width:100%;
}
h1{
  white-space:break-spaces;
}
div[id="social"]{
  display:flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  color:pink;
}
#Worked{
  display: flex;
  flex-direction: column;
  gap:10vw;
  background:rgb(88, 137, 84);
}
#work-experience {
  padding: 10px;
  background-color: #8f7575ce;
  margin: 10px 0;
}

#work-experience h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  font-size: 18px;
  margin: 5px 0;
}

.job p, .job ul {
  font-size: 14px;
}

.skills-image {
  display: none;
}
}

@media 
screen and (max-width: 300px) {
ul[id="toplist"]{ 
  flex-direction:column;
}
label{
  font-size:25px;
}
#Worked{
  background:rgb(84, 88, 137);
  height:150vh;
}
#work-experience {
  padding: 10px;
  background-color: #8f7575ce;
  margin: 10px 0;
}

#work-experience h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  font-size: 18px;
  margin: 5px 0;
}

.job p, .job ul {
  font-size: 14px;
}

.skills-image {
  display: none;
}
}

@media 
screen and (max-width: 450px) {
ul[id="toplist"]{ 
  flex-direction:column;
}
label{
  font-size:25px;
}
#Worked{
  background:rgb(84, 88, 137);
  height:120vh;
}
#work-experience {
  padding: 10px;
  background-color: #8f7575ce;
  margin: 10px 0;
}

#work-experience h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  font-size: 18px;
  margin: 5px 0;
}

.job p, .job ul {
  font-size: 14px;
}

.skills-image {
  display: none;
}
}

@media 
screen and (max-width: 1200px) {
ul[id="toplist"]{ 
  flex-direction:row;
}
label{
  font-size:25px;
}
#Worked{
  background:rgb(84, 88, 137);
  height:100vw;
}
i,p[id="About"]{
  background:rgb(46, 49, 60);
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
#work-experience {
  padding: 20px;
  background-color: #8f7575ce;
  margin: 20px 0;
}

#work-experience h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.job-details {
  flex: 1; 
}

.job-images {
  margin-left: auto; 
  display: flex;
  flex-direction: column;
}



.animate, .animated-img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate.visible, .animated-img.visible {
  opacity: 1;
  transform: translateY(0);
}
.job h3 {
  font-size: 20px;
  margin: 5px 0;
}

.job p, .job ul {
  font-size: 16px;
}

.skills-image {
  display: block;
  margin-top: 20px;
  text-align: center;
}
}

@keyframes typing {
  from { width: 1em }
  to { width: 10em }
}

@keyframes typing1 {
  0% { width:0em; }
  70% { width:0.03em; }
  100% { width:20em; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/*Media queries*/
@media 
screen and (max-width: 410px) {
  *{
    max-width: 100vw;
    margin:0;
  }
  
  #top-id{
    
    padding:10px;
    font-size:27px;
    display: block;
    text-align: center;
    font-family:monospace,sans-serif;

  color:blanchedalmond;
  background-color: rgb(15, 109, 109);
}
  header{
    min-width: 100vw;
  }
#navbar{

  width:100vw;
 display:inline;
 min-width: 100vw;
}
ul[id="toplist"]{
  display: inline;
  min-width: 100vw;
}
  #welcome-section{
    min-width:100vw;
    overflow-wrap: break-word;
  }  
  
  button[id="batton"],button[id="batton"]>a{
    margin-top:10vh;
    
  }
  #Work{
    min-width:68vw;
  }
  #Worked{
    min-width:68vw;
    min-height:350vh;
  }
  footer{
    min-width: 100vw;
  }
  label{
    font-size:25px;
  }
  h1{
      white-space:break-spaces;
  }
  div[id="social"]{
      display:flex;
     flex-wrap: wrap-reverse;
     flex-direction: column;
     color:rgb(250, 173, 186);
  }
 
}
  @media 
  screen and (max-width: 550px) {
    ul[id="toplist"]{ 
      text-align: center;
      padding-left: 10%;
      
     flex-direction:column;
    }label{
      font-size:25px;
    }
    header{
      width:100%;
    }
    h1{
      
        white-space:break-spaces;
    }
    div[id="social"]{
        display:flex;
       flex-wrap: wrap-reverse;
       flex-direction: column;
       color:pink;
    }
    #Worked{
    display: flex;
    flex-direction: column;
    gap:10vw;
   background:rgb(84, 88, 137);
}
   
  }

  @media 
  screen and (max-width: 900px) {
    ul[id="toplist"]{ 
     flex-direction:column;
    }label{
      font-size:25px;
    }
    #Worked{
    
   background:rgb(84, 88, 137);
    height:350vh;}
   
  }
  @media 
  screen and (max-width: 1200px) {
    ul[id="toplist"]{ 
     flex-direction:row;
    }
    label{
      font-size:25px;
    }
    #Worked{
    
   background:rgb(84, 88, 137);
    height:70vh;}
   i,p[id="About"]{
     background:rgb(46, 49, 60);
   }
  }
  @media 
  screen and (max-width: 1200px) {
  
    ul[id="toplist"]{ 
     flex-direction:row;
    }
    label{
      font-size:25px;
    }
    #Worked{
    
   background:rgb(84, 88, 137);
    height:200vh;}
   i,p[id="About"]{
     background:rgb(46, 49, 60);
   }

  }
  @keyframes typing {
    from { width: 1em }
    to { width: 10em }
  }
  @keyframes typing1 {
  
    0%{width:0em;}
  
    70%{
      width:0.03em;
    }
    100%{
      width:20em;
    }
    
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
 
  @media 
  screen and (max-width: 2400px) {
    .job {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin-bottom: 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .job:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .job-details {
      flex: 1;
  }
  
  .job-images {
      display: flex;
      flex-direction: row; 
      gap: 10px; 
  }
  
  .animated-img {
      width: 100px;
      height: auto;
      border-radius: 0.5vw;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .animate, .animated-img {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .animate.visible, .animated-img.visible {
      opacity: 1;
      transform: translateY(0);
  }
  }
