*{
    margin:0;
    box-sizing: border-box;
    padding:0;
    font-size:2.5vw;
}
.wrapper {
    height: 100vw;
    width: 100vw;
    background: linear-gradient(180deg, #47dcde, 5%, #1969a3, 50%, #030423);
    position: relative;
    z-index:0;
  }
 
  .wrapper div {
    height: 6vw;
    width: 6vw;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    animation: 4s linear infinite;
  }
  div .dot {
    height: 1vw;
    width: 1vw;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.331);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }
html{
    max-height:50vw;
    background: rgba(1, 72, 72, 0.6);
overflow: visible;
z-index:-1;

}
table{
background-color: rgb(130, 170, 238);
border-color: blueviolet;
margin:0 auto;
font-size: auto;
height:30vw;
width:30vw;
position: fixed;
left:32%;
top:20%;
padding:3.6vw;
border-radius:10%;
box-sizing: border-box;
}

button[type="text"]{
    cursor:crosshair;
    align-items:center;
    height:8vw;
    width:8vw;
    gap:0;
    color:rgb(0, 0, 0);
font-size:auto;
font-family: 'Segoe UI';
border-color:black;
    background: rgba(255, 146, 87, 0.4);
padding-bottom: 1vw;
padding-top:0vw;
font-size:6.3vw;
font-family:monospace,sans-serif;
font-weight: bold;
border: 0.4vw solid black;
}
button[type="text"]{
    margin:0;
}

.inner{
    margin:0 auto;
    font-size: auto;
    height:32vw;
    width:32vw;
    position: fixed;
    left:32%;
    top:20%;
    border-radius: 10%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: cabins1 12.3s ease-in-out infinite;
background-size: 100vw 160vw;
 
    z-index:0;
    border: 1vw solid;
}
.reset{
background-color: rgb(197, 113, 67);
margin:0 auto;
z-index: 2;
border: solid;
border-radius: 10%;
font-size:1.5vw;
left:7%;
top:-1%;
overflow: hidden;
position: relative;
font-family:sans-serif;
padding: 0.05vw;
font-weight: bolder;
}
#labe{
    margin: 24vw auto;
    text-align: center;
    padding:0.3vw;
    font-style: bold;
    font-family:'Franklin Gothic Medium';
    z-index: 9;
    position: relative;
   
}
.intro{
    background: rgba(40,40,40,1)
    -webkit-radial-gradient(center, rgb(42, 107, 75), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    -moz-radial-gradient(center, rgb(61, 125, 94), rgba(0,20,20,.6));
    position:absolute;
    overflow: hidden;
    height:24.8vw;
    width:25.8vw;
    margin: 0 auto;
    top:8.7%;
    left:6.6%;
    border-radius: 3%;
    z-index: 3;
    padding:4vw;
    text-align:justify;
    color:orange;
    border:0.44vw solid black;
}
.gameplay{
    background: rgba(40,40,40,1)
    -webkit-radial-gradient(center, rgb(42, 107, 75), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    -moz-radial-gradient(center, rgb(61, 125, 94), rgba(0,20,20,.6));
    position:relative;
    overflow: hidden;
    height:24.1vw;
    width:24.1vw;
    margin: 0 auto;
    left:-0.4%;
    border-radius: 3%;
    z-index: 5;
    padding:4vw;
    text-align:justify;
    color:orange;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS';
    color:rgb(255, 81, 0);
    gap:2vw;
    text-align:center;
    letter-spacing: 0;
    
}
#setgameo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#setgame{
    font-size:1.5vw;
    height:4vw;
    width:7vw;
    background:linear-gradient(orange,orangered);
    border:0.3vw solid black;
        border-radius: 10%;
        font-weight: bold;
      font-family:'Trebuchet MS ';
      transition:0.2s;
      
}
#setgame:hover{
    font-size:1.7vw;
    background: linear-gradient(90deg,rgb(37, 255, 59),rgb(0, 154, 59));
}
#setgame:active{
  
    background: linear-gradient(rgb(255, 179, 37),rgb(255, 94, 36));
}
.reset:hover,#winner:hover{
    background-color: rgb(255, 102, 0);
}
button[id="winner"]{
    background-color: rgb(67, 82, 197);
    margin:0 auto;
    z-index: 2;
    border: none;
    border-radius: 15%;
    font-size:1.5vw;
    left:37%;
    top:-1%;
    border: solid;
    overflow: hidden;
    position: relative;
    font-family:sans-serif;
    font-weight: bolder;
}
h2{
padding:1.4vw;
}
h1{
    background: rgba(259,69,0,0.5);
    width:100%;
    text-align: center;
    transform-box:fill-box;
    color:black;
    background: linear-gradient(-40deg, #ee7752, #23d5ab,#e73c7e, #23a6d5,);
  animation: cabins 15.2s ease-in-out infinite;
}

button[id="select"]{
    height: 2vw;
    width: 2vw;
}
button[type="text"]:active{
    background-color: #32f5c8;
}
#choose{
    text-align: center;
    padding:1vw;
margin-bottom: 2vw;
background: linear-gradient(-40deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
animation: cabins1 12.3s ease-in-out infinite;
background-size: 100vw 160vw;
}
div[id="selecto"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
#select1{
    height:2vw;
    width:2vw;
    border-radius:50%;
}
#select{
    border-radius: 10%;
    background:linear-gradient(90deg,#23a6d5, #23d5ab);
    width:7vw;
    height:4vw;
    font-family:'Trebuchet MS ';
    font-weight: bold;
    border: 0.3vw solid black;
    transition:0.3s;
    }

#select:hover{
    font-size: 2.3vw;
    background:linear-gradient(90deg,#23d529, #007c08);
}

#select:active,#select:hover{
    background-color: green;
}
#select{
  
    padding:1%;
}
footer{
    margin:35%  auto auto 39%;
}

@media screen and (max-width:840px){
   
    h1{
        font-size:8.5vw;
        margin-top:5vw;
        border:2vw solid;
        border-radius:50%;
    }
    
        .inner,.outer{
            top:2.3vw;
            left:1.8vw;
            min-height:76vw;
        min-width:76vw;
          
        }
       
        .inner{
            
            background: 10vw black;
            min-width:81vw;
            min-height:81vw;
            left:4vw;
        }
        #gameplay{
            top:4.1vw;
              border:2vw solid black;
            left:2.6vw;
            top:4.4vw;
            font-size:1vw;
            min-height:66vw;
        min-width:66vw;
        padding:0.3vw;
        }
    #intro{
        top:10vw;
        left:8.5vw;
        font-size:10vw;
            min-height:66vw;
        min-width:66vw;
        border:2vw solid black;
    }
    .wrapper {
        height:140vw;
        top:0.2vw;
        max-width:100vw;
        background: linear-gradient(180deg, #47dcde, 5%, #1969a3, 50%, #030423);
        position:fixed;
      }
    table{
        top:4.3vw;
        padding:13vw;
            left:7vw;
        font-size:3vw;
        text-align:center;
    }
        button[type="text"]{
            font-size:13vw;
            min-height:10vw;
        min-width:18vw;
        min-height:18vw;
            overflow:hidden;
            text-align:center;
            border:0.8vw solid rgb(89, 89, 89);
        }
        
        #winner,.reset{
            min-height:6vw;
        min-width:15vw;
            font-size:4vw;
            top:1vw;
        }
        p[id="labe"]{
            font-size:0;
        }
        
        #select{
            border-radius: 10%;
            background:linear-gradient(90deg,#23a6d5, #23d5ab);
            min-width:17vw;
            min-height:14vw;
            font-family:'Trebuchet MS ';
            font-weight: bold;
            border: 0.3vw solid black;
            transition:0.2s;
            font-size:10vw;
            }
            #select:hover{
                font-size:8vw;
                
        background: linear-gradient(90deg,rgb(131, 255, 37),rgb(0, 154, 59));
            }
        
  
    #setgame{
       
        border:0.6vw solid black;
        background: orangered;
        height:10vw;
        width:24vw;
        font-size: 4vw;
        border-radius: 8%;
        font-weight: bold;
    }
    #setgame:hover{
        font-size:4.7vw;
        background: linear-gradient(90deg,rgb(131, 255, 37),rgb(0, 154, 59));
    }
    #game{
         font-size:7vw;
        text-align:center;
        padding-top:11vw;
    }
    #choose{
        margin-top:6vw;
        font-size:8vw;
        border-radius:50vw;
    }
    #selecto{
        font-size:8vw;
        
    }
    #select{
        height:6vw;
        width:6vw;
        
    }
    .reset{
        top:3.8vw;
        left:14vw;
    }
    #winner{
        top:3.8vw;
        border-radius:8%;
    left:34vw;
    }
}

@media screen and (max-width:710px){
   
    h1{
        font-size:8.5vw;
        margin-top:5vw;
        border:2vw solid;
        border-radius:50%;
    }
    
        .inner,.outer{
            top:8.3vw;
            left:0;
            min-height:93vw;
        min-width:93vw;
          
        }
        .inner{
            background: 4vw black;
        }
        #gameplay{
            top:8.3vw;
              border:2vw solid black;
            left:0;
            top:1.4vw;
            font-size:10vw;
            min-height:77vw;
        min-width:77vw;
        }
    #intro{
        
        left:7vw;
        font-size:10vw;
            min-height:77vw;
        min-width:77vw;
        border:2vw solid black;
    }
    .wrapper {
        height:140vw;
        top:0.2vw;
        max-width:100vw;
        background: linear-gradient(180deg, #47dcde, 5%, #1969a3, 50%, #030423);
        position:fixed;
      }
    table{
        top:8.2vw;
        padding:11vw;
            left:0vw;
        
        font-size:3vw;
        text-align:center;
    }
        button[type="text"]{
            font-size:13vw;
            min-height:10vw;
        min-width:23vw;
        min-height: 23vw;
            overflow:hidden;
            text-align:center;
            border:1.5vw solid;
        }
        
        #winner,.reset{
            min-height:6vw;
        min-width:15vw;
            font-size:4vw;
            top:1vw;
        }
        p[id="labe"]{
            font-size:0;
        }
        #select{
            border-radius: 10%;
            background:linear-gradient(90deg,#23a6d5, #23d5ab);
            min-width:17vw;
            min-height:14vw;
            font-family:'Trebuchet MS ';
            font-weight: bold;
            border: 0.3vw solid black;
            transition:0.2s;
            font-size:10vw;
            }
            #select:hover{
                font-size:8vw;
                
        background: linear-gradient(90deg,rgb(131, 255, 37),rgb(0, 154, 59));
            }
        
  
    #setgame{
       
        border:0.6vw solid black;
        background: orangered;
        height:10vw;
        width:24vw;
        font-size: 4vw;
        border-radius: 8%;
        font-weight: bold;
    }
    #setgame:hover{
        font-size:4.7vw;
        background: linear-gradient(90deg,rgb(131, 255, 37),rgb(0, 154, 59));
    }
    #game{
         font-size:7vw;
        text-align:center;
        padding-top:12vw;
    }
    #choose{
        margin-top:6vw;
        font-size:8vw;
        border-radius:50vw;
    }
    #selecto{
        font-size:8vw;
        
    }
    #select{
        height:6vw;
        width:6vw;
        
    }
}

 
@media screen and (max-width:550px){
   
    .inner,.outer{
        top:14vw;
        left:0;
        min-height:93vw;
    min-width:93vw;
      
    }
    .wrapper {
        height:180vw;
        top:0vw;
        width:100vw;
        background: linear-gradient(180deg, #47dcde, 5%, #1969a3, 50%, #030423);
        position:fixed;
      }
    #gameplay{
        top:14vw;
          border:2vw solid black;
        left:0;
        top:1.4vw;
        font-size:10vw;
        min-height:77vw;
    min-width:77vw;
    }
#intro{
    
    left:7vw;
    font-size:10vw;
        min-height:77vw;
    min-width:77vw;
    border:2vw solid black;
}
table{
    top:14vw;
    top:2vw;
    padding:16vw;
    font-size:3vw;
    text-align:center;
}
    button[type="text"]{
        
        font-size:13vw;
        min-height:10vw;
    min-width:23vw;
    min-height: 23vw;
        overflow:hidden;
        text-align:center;
        border:1.5vw solid;
    }
    table{
        top:14vw;
        padding:10vw;
        left:0;
    }
    #winner,.reset{
        min-height:6vw;
    min-width:15vw;
        font-size:4vw;
        top:1vw;
    }
    p[id="labe"]{
        font-size:0;
    }
    #setgame{
       
        border:0.6vw solid black;
        background: orangered;
        height:10vw;
        width:24vw;
        font-size: 4vw;
        border-radius: 10%;
        font-weight: bold;
    }
    #setgame:hover{
        font-size:4.7vw;
        background: linear-gradient(90deg,rgb(37, 255, 59),rgb(0, 154, 59));
    }
#game{
     font-size:7vw;
    text-align:center;
    padding-top:12vw;
}
#choose{
    margin-top:6vw;
    font-size:8vw;
    border-radius:50vw;
}
#selecto{
    font-size:8vw;
    
}
#select{
    height:6vw;
    width:6vw;
    
}
}
 
@media screen and (max-width:400px){
   
        .inner,.outer{
            top:45vw;
            left:0;
            min-height:93vw;
        min-width:93vw;
          
        }
        #gameplay{
            top:45vw;
              border:2vw solid black;
            left:0;
            top:1.4vw;
            font-size:10vw;
            min-height:77vw;
        min-width:77vw;
        }
    #intro{
        
        left:7vw;
        font-size:10vw;
            min-height:77vw;
        min-width:77vw;
        border:2vw solid black;
    }
    table{
        top:45vw;
        top:2vw;
        padding:16vw;
        font-size:3vw;
        text-align:center;
    }
        button[type="text"]{
            
            font-size:13vw;
            min-height:10vw;
        min-width:23vw;
        min-height: 23vw;
            overflow:hidden;
            text-align:center;
            border:1.5vw solid;
        }
        table{
            top:45vw;
            padding:10vw;
            left:0;
        }
        #winner,.reset{
            min-height:6vw;
        min-width:15vw;
            font-size:4vw;
            top:1vw;
        }
        p[id="labe"]{
            font-size:0;
        }
        #setgame{
       
            border:0.6vw solid black;
            background: orangered;
            height:10vw;
            width:24vw;
            font-size: 4vw;
            border-radius: 10%;
            font-weight: bold;
        }
        #setgame:hover{
            font-size:4.7vw;
            background: linear-gradient(90deg,rgb(37, 255, 59),rgb(0, 154, 59));
        }
    #game{
         font-size:7vw;
        text-align:center;
        padding-top:12vw;
    }
    #choose{
        margin-top:6vw;
        font-size:8vw;
        border-radius:50vw;
    }
    #selecto{
        font-size:8vw;
        
    }
    #select{
        height:6vw;
        width:6vw;
        
    }
    .wrapper {
        height:280vw;
        top:0vw;
        width:100vw;
        background: linear-gradient(180deg, #47dcde, 5%, #1969a3, 50%, #030423);
        position:fixed;
      }
}
  
@media screen and (max-width:300px){
   
    .inner,.outer{
        top:65vw;
        left:0;
        min-height:93vw;
    min-width:93vw;
      
    }
    
    #gameplay{
        top:65vw;
          border:2vw solid black;
        left:0;
        top:1.4vw;
        font-size:10vw;
        min-height:77vw;
    min-width:77vw;
    }
#intro{
    
    left:7vw;
    font-size:10vw;
        min-height:77vw;
    min-width:77vw;
    border:2vw solid black;
}
table{
    top:65vw;
    top:2vw;
    padding:16vw;
    font-size:3vw;
    text-align:center;
}
    button[type="text"]{
        
        font-size:13vw;
        min-height:10vw;
    min-width:23vw;
    min-height: 23vw;
        overflow:hidden;
        text-align:center;
        border:1.5vw solid;
    }
    table{
        top:65vw;
        padding:10vw;
        left:0;
    }
    #winner,.reset{
        min-height:6vw;
    min-width:15vw;
        font-size:4vw;
        top:1vw;
    }
    p[id="labe"]{
        font-size:0;
    }
    #setgame{
       
        border:0.6vw solid black;
        background: orangered;
        height:10vw;
        width:24vw;
        font-size: 4vw;
        border-radius: 10%;
        font-weight: bold;
    }
    #setgame:hover{
        font-size:4.7vw;
        background: linear-gradient(90deg,rgb(37, 255, 59),rgb(0, 154, 59));
    }
#game{
     font-size:7vw;
    text-align:center;
    padding-top:12vw;
}
#choose{
    margin-top:6vw;
    font-size:8vw;
    border-radius:50vw;
}
#selecto{
    font-size:8vw;
    
}
.wrapper {
    height:280vw;
    top:0vw;
    width:100vw;
    background: linear-gradient(180deg, #47dcde, 5%, #1969a3, 50%, #030423);
    position:fixed;
  }
#select{
    height:6vw;
    width:6vw;
    
}
} 
@keyframes cabins {
    0%{
        background-color: #23d5ab;
    }
    25% {
      background-color:  #e73c7e;
    }
    50% {
      background-color: purple;
    }
    75%{
        background-color: #23d5ab;
    }
    90%{
        background-color:  #23a6d5;
        
    }
    96%{
        transform: rotate(0deg);
        background-color: #23d5ab;
    }
    100% {
      transform: rotate(-360deg);
      background-color: #23d5ab;
    }
  }
  @keyframes cabins1 {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }
  @keyframes winner{
    0% {
        background: linear-gradient(-45deg,rgb(37, 255, 146),rgb(30, 218, 49));
	}
	50% {
        background: linear-gradient(45deg,rgb(37, 255, 146),rgb(37, 255, 146));
        transform:Scale(1.08);
	}

	100% {
        background: linear-gradient(-45deg,rgb(37, 255, 146),rgb(30, 218, 49));
       
	}
  }
  @keyframes draw{
    0% {
        background: linear-gradient(-45deg,rgb(255, 200, 37),rgb(218, 96, 30));
	}
	50% {
        background: linear-gradient(45deg,rgb(255, 55, 37),rgb(255, 139, 37));
        transform:Scale(1.08);
	}

	100% {
        background: linear-gradient(-45deg,rgb(255, 193, 37),rgb(218, 105, 30));
       
	}
  }
